body{
	background-color:#02040f;
}
h1{
	color:#e59500;
}
p{
	color: #e5DADA;
	font-size: 50px;
}
p.class_absolute{
	position: relative;
	top: 1000px; left: 20;
}
.cant_see{
	color: #e5DADA;
	font-size: 50px;
}
.navbar{
	background:#e59500;
	font-family: 'Roboto', sans-serif;
	font-size: 75px;
	border: 5px dotted;
	position: -webkit-sticky;
	position: sticky;
	top: 0px;
}

.navbar2{
	background: #e5DADA;
	font-family: 'Roboto', sans-serif;
	font-size: 70px;
	border: 5px solid;
}
a{	
	color: #02040f;
	font-size: 200;
}

img {
	float: left;
	height: 380px;
}